<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <client>

      <endpoint address="net.tcp://localhost:4444/Process"
                binding="netTcpBinding"
                contract="Demo.Contracts.IProcess"/>

    </client>

    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:45:00"/>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>